<div ng-if="!initializing">
  <h1 class="text-center">
    <a href="#/apps">Apps</a> &gt; {{app.title}}
  </h1>

  <div class="text-center" ng-hide="app">
    <h2>No app found with the id of {{appId}}.</h2>
  </div>

  <div class="row" ng-show="app">
    <div class="col-xs-4 panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="" class="collapser" data-target="#formsCollapse">
              Forms ({{app.forms.length}})
            </a>
          </h4>
        </div>
        <div id="formsCollapse" class="collapse">
          <div class="panel-body">
            <p ng-hide="app.forms">There are no forms on this app.</p>

            <ul class="list-unstyled" ng-show="app.forms">
              <li ng-repeat="form in app.forms">
                <a href="#/apps/{{appId}}/forms/update/{{form.id}}">
                  {{form.title}}
                  <span class="glyphicon glyphicon-lock" ng-show="form.requiresAuthentication"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <a class="btn btn-default" href="#/apps/{{appId}}/forms/create">Create Form</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="" class="collapser" data-target="#listingsCollapse">
              Listings ({{app.listings.length}})
            </a>
          </h4>
        </div>
        <div id="listingsCollapse" class="collapse">
          <div class="panel-body">
            <p ng-hide="app.listings">There are no listings on this app.</p>

            <ul class="list-unstyled" ng-show="app.listings">
              <li ng-repeat="listing in app.listings">
                <a href="#/apps/{{appId}}/listings/update/{{listing.id}}">
                  {{listing.title}}
                  <span class="glyphicon glyphicon-lock" ng-show="listing.requiresAuthentication"></span>
                </a>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
          <a class="btn btn-default" href="#/apps/{{appId}}/listings/create">Create Listing</a>
        </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="" class="collapser" data-target="#navLinksCollapse">
              Navigation Links
            </a>
          </h4>
        </div>
        <div id="navLinksCollapse" class="collapse">
          <div class="panel-body">
            <p ng-if="!app.navLinks">There are no navigation links on this app.</p>

            <ul class="list-unstyled" ng-if="app.navLinks">
              <li ng-repeat="navLink in navLinksTree()">
                {{navLink.text}}
                <ul ng-if="navLink.type === 'dropdown'">
                  <li ng-repeat="childLink in navLink.children">
                    {{childLink.text}}
                  </li>
                </ul>
              </li>
              <li ng-if="app.navLinks.showLinks.login">Login</li>
              <li ng-if="app.navLinks.showLinks.registration">Register</li>
            </ul>
          </div>
          <div class="panel-footer">
          <a class="btn btn-default" href="#/apps/{{app.id}}/navLinks/modify">Modify Navigation Links</a>
        </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row" ng-show="app">
    <div class="col-xs-4 panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="" class="collapser" data-target="#usersCollapse">
              Users ({{app.usersCount}})
            </a>
          </h4>
        </div>
        <div id="usersCollapse" class="collapse">
          <div class="panel-body">
            <ul class="list-unstyled">
              <li>
                <a href="#/apps/{{app.id}}/users">View Users</a>
              </li>
            </ul>
          </div>
          <div class="panel-footer">
          <a class="btn btn-default" href="#/apps/{{app.id}}/users/create">Create User</a>
        </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 panel-group">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="" class="collapser" data-target="#registrationCollapse">
              Registration ({{app.registration.type}})
            </a>
          </h4>
        </div>
        <div id="registrationCollapse" class="collapse">
          <div class="panel-body">
          <ul class="list-unstyled">
            <li>
              <a href="#/apps/{{app.id}}/registration">Change Registration Type</a>
            </li>
          </ul>
        </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-4 text-center">
      <a class="btn btn-info btn-lg" href="#/apps/{{app.id}}/preview">Preview App</a>
    </div>

    <form class="col-sm-4 text-center" action="/api/deploy?appId={{app.id}}" method="post" target="_blank">
      <input class="btn btn-warning btn-lg" type="submit" value="Deploy App">
    </form>

    <div class="col-sm-4 text-center">
      <a class="btn btn-primary btn-lg" target="_blank" href="http://{{app.id}}.{{$root.deploymentSite}}" ng-class="{ disabled: !app.deployed || !$root.deploymentSite }">
        View App
      </a>
    </div>
  </div>
</div>