<h1 class="text-center" ng-if="app">
  <a href="#/apps">Apps</a> > <a href="#/apps/{{app.id}}">{{app.title}}</a> > Nav Links > Create
</h1>

<div class="text-center" ng-if="!app">
  <h2>No app found with the id of {{appId}}.</h2>
</div>

<ul>
  <li ng-repeat="nL in navLinksTree()">
    {{nL.text}}
    <a ng-click="editNavLink(nL)">
      <span class="glyphicon glyphicon-pencil"></span>
    </a>
    <ul ng-if="nL.type === 'dropdown'">
      <li ng-repeat="childLink in nL.children">
        {{childLink.text}}
        <a ng-click="editNavLink(childLink)">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </li>
    </ul>
  </li>
</ul>

<form class="form-horizontal" ng-submit="save(navLink)">
  <h3>Create Navigation Link</h3>
  <div class="form-group col-sm-6">
    <label class="control-label col-sm-3">Text</label>
    <div class="col-sm-9">
      <input class="form-control" type="text" ng-model="navLink.text" />
    </div>
  </div>
  <div class="form-group col-sm-6">
    <label class="control-label col-sm-3">Type</label>
    <div class="col-sm-9">
      <label class="radio-inline">
        <input type="radio" value="link" ng-model="navLink.type" />
        Link
      </label>
      <label class="radio-inline">
        <input type="radio" value="dropdown" ng-model="navLink.type" />
        Dropdown
      </label>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-sm-6" ng-if="navLink.type==='link'">
    <label class="control-label col-sm-3">
      Target
    </label>
    <div class="col-sm-6">
      <select class="form-control" ng-model="navLink.linkTarget"
              ng-options="linkTarget as linkTarget.title group by linkTarget.type for linkTarget in linkTargets track by linkTarget.type + '.' + linkTarget.id">
      </select>
    </div>
  </div>
  <div class="form-group col-sm-6" ng-if="navLink.type==='link'">
    <label class="control-label col-sm-3">
      Parent
    </label>
    <div class="col-sm-6">
      <div class="input-group">
        <select class="form-control" ng-model="navLink.parentId"
                ng-options="nL.id as nL.text for nL in dropdownNavLinks()">
        </select>
        <a class="input-group-addon" ng-click="removeParent()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Save Navigation Link" />
  </div>
</form>