<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#/apps/{{app.id}}/preview">{{app.title}}</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li ng-class="{dropdown: navLink.type === 'dropdown'}" ng-repeat="navLink in navLinksTree()">
        <a href="" ng-if="navLink.type === 'link'" ng-click="show(navLink)">
          {{navLink.text}}
        </a>
        <a class="dropdown-toggle" href="" data-toggle="dropdown" ng-if="navLink.type === 'dropdown'">
          {{navLink.text}}
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" ng-if="navLink.type === 'dropdown'">
          <li ng-repeat="childLink in navLink.children">
            <a href="" ng-click="show(childLink)">{{childLink.text}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<form name="form" class="form-horizontal" ng-if="selectedNavLink.linkTarget.type === 'Forms'"
      ng-submit="saveForm(obj)" >
  <h2>{{obj.name}}</h2>
  <div class="form-group col-sm-6" ng-repeat="field in obj.fields">
    <label class="col-sm-3 control-label" for="{{field.title}}" ng-if="field.type !== 'boolean'">{{field.title}}</label>
    <div class="col-sm-9">
      <input class="form-control" type="text" name="{{field.title}}" ng-model="field.value" ng-required="field.required" ng-if="field.type === 'text' && !field.multipleLine" />
      <textarea class="form-control" rows="3" name="{{field.title}}" ng-model="field.value" ng-required="field.required" ng-if="field.type === 'text' && field.multipleLine"></textarea>
      <input class="form-control" type="number" name="{{field.title}}" ng-model="field.value" ng-required="field.required" ng-if="field.type === 'number'" />
      <input class="form-control" type="date" name="{{field.title}}" ng-model="field.value" ng-required="field.required" ng-if="field.type === 'date'" />
      <label class="checkbox" ng-if="field.type === 'boolean'">
        <input type="checkbox" name="{{field.title}}" ng-model="field.value" />
        {{field.title}}
      </label>
      <label class="radio-inline" ng-if="field.type === 'options' && field.optionType === 'radio'"
             ng-repeat="option in split(field.options)">
        <input type="radio" value="{{option}}" ng-required="field.required" ng-model="field.value" />
        {{option}}
      </label>
      <label class="checkbox-inline" ng-if="field.type === 'options' && field.optionType === 'checkbox'"
             ng-repeat="option in split(field.options)">
        <input type="checkbox" checklist-model="field.value" ng-required="field.required" checklist-value="option" />
        {{option}}
      </label>
      <select class="form-control" ng-model="field.value" ng-required="field.required"
              ng-if="field.type === 'options' && field.optionType === 'select'"
              ng-options="option for option in split(field.options)"></select>
      <select class="form-control" multiple ng-model="field.value" ng-required="field.required"
              ng-if="field.type === 'options' && field.optionType === 'multi-select'"
              ng-options="option for option in split(field.options)"></select>
    </div>
  </div>
  <div class="form-group col-sm-9">
    <input class="btn btn-primary" type="submit" value="Save" ng-disabled="!form.$valid"/>
  </div>
</form>

<h3 ng-if="selectedNavLink.linkTarget.type === 'Listings' && !data[obj.formId]">
  There is no data for this listing.
</h3>

<table class="table table-bordered table-condensed table-striped table-hover" ng-if="selectedNavLink.linkTarget.type === 'Listings' && data[obj.formId]">
  <thead>
    <tr>
      <th ng-if="obj.linkToUpdateForm === 'separateColumn'">
        Details
      </th>
      <th ng-repeat="field in listingFields">
        {{field.title}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in data[obj.formId]">
      <td ng-if="obj.linkToUpdateForm === 'separateColumn'">
        <a href="">Details</a>
      </td>
      <td ng-repeat="field in listingFields">
        <a href="" ng-click="show({linkTarget: {type:'Forms', id: obj.formId, update: true}})"
           ng-if="obj.fieldLinkingToUpdateForm === field.title">
          {{row[obj.fieldLinkingToUpdateForm]}}
        </a>
        <span ng-if="obj.fieldLinkingToUpdateForm !== field.title">
          {{row[field.title]}}
        </span>
      </td>
    </tr>
  </tbody>
</table>