<h1 class="text-center">Apps</h1>

<div class="row">
  <div class="col-xs-4">
    <h2>Apps</h2>
    <ul>
      <li ng-repeat="app in apps">
        <a href="#/apps/{{app.id}}">{{app.title}}</a>
        <ul>
          <li>Forms: {{app.formsCount}}</li>
          <li>Listings: {{app.listingsCount}}</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-xs-8">
    <h2>Create a new app</h2>
    <form class="form-inline" ng-submit="create()">
      <div class="row">
        <div class="input-group col-xs-6">
          <input class="form-control col-xs-4" placeholder="New App Title" type="text" required ng-model="newAppTitle" />
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">Create</button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>